@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Salsa', cursive;
}
#btn{
    background-color: #283050;
    float: right;
    color: #fff;
    /* width: 131px;
    height: 63px; */
    text-align: center;
    /* margin-right: 50px;
    margin-top: -82px; */
    border-radius: 8px;
    position: absolute;
    width: 240px;
    height: 85px;
    left: 629px;
    top: 778px;

}

#Test1{
    position: absolute;
    width: 400px;
    height: 269px;
    left: 95px;
    top: 330px;

    background: #C4C4C4;
    /* backdropFilter: "blur(8px)"; */
    filter: blur(4px);
}

#Test2{
    position: absolute;
    width: 400px;
    height: 269px;
    left: 520px;
    top: 330px;

    background: #C4C4C4;
    filter: blur(4px);
}

#Test3{
    position: absolute;
    width: 400px;
    height: 269px;
    left: 945px;
    top: 330px;

    background: #C4C4C4;
    filter: blur(4px);
}
.body1 p{
    position: absolute;
    /* width: 366px;
    height: 31px; */
    left: 112px;
    top: 401px;
    padding: 5px;

    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    /* identical to box height */


    color: #000000;
}
.body2 p{
    position: absolute;
    /* width: 373px;
    height: 31px; */
    left: 533px;
    top: 387px;

    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    /* identical to box height */


    color: #000000;

}
.body3 p{
    position: absolute;
    width: 358px;
    height: 132px;
    left: 963px;
    top: 354px;

    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #000000;

}
.body3 h4{
    position: absolute;
    /* width: 294px;
    height: 31px; */
    left: 998px;
    top: 493px;

    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    /* identical to box height */


    color: #000000;
}